* {
  font-family: Arimo;
}

.main-container_table {
  width: 1170px;
  height: 727px;
  flex-shrink: 0;
  border: 22px solid #3a4965;
}
/* MAIN TABLE */
.own-items {
  width: 1192px;
  background-color: #fafafa;
}

/* ALL TABLE */
table {
  border-collapse: collapse;
}

/* tr {
  border: 1px solid grey;
}

th {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
} */

/* HEEAD TABLE */
.headm_size {
  width: 313px;
  height: 159px;
}

.mainhead-textf {
  color: #484848;
  font-family: Arimo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
}

.mainhead-texts {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  margin-top: 5px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 93.333% */
  text-transform: uppercase;
}

.headf_text {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}

.sizefirst-text {
  background-color: #89c331;
  width: 284px;
  height: 73px;
}

.sizethree-text {
  background-color: #f04a56;
  width: 284px;
  height: 73px;
}

.headt_text {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 93.333% */
  text-transform: uppercase;
}

.sizefour-text {
  background-color: #20807c;
  width: 277px;
  height: 73px;
}

.headfour_text {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}

/* PRICE TABLE */

.background-price {
  width: 280px;
  height: 89px;
}

.first-price_text {
  color: #484848;
  font-family: Arimo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 46.667% */
}

.second-price_text {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}

.navigation-price {
  display: flex;
  width: 128px;
  margin-top: 22px;
  margin-left: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.navigation-price_second {
  display: flex;
  width: 61px;
  height: 28px;
  margin-top: -112px;
  margin-left: 130px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.navigation-month_text {
  display: flex;
  margin-top: -25px;
  margin-left: 142px;
}

.three-price_text {
  color: #484848;
  font-family: Arimo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/* BODY TABLE */
.background-main_content {
  background-color: #f2f2f2;
  width: 313px;
  height: 72px;
}

.img-navigation {
  margin-left: 86px;
  margin-top: 20px;
}

.content-first_text {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  margin-top: -20px;
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.content-storage_text {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  text-transform: uppercase;
}

/* BODY TABLE */
.background-second-main_content {
  background-color: #e3e3e3;
  width: 313px;
  height: 72px;
}

.img-navigation-smain {
  margin-top: 20px;
  margin-left: 70px;
}

.content-second-main_text {
  color: #484848;
  font-family: Arimo;
  font-size: 16px;
  margin-left: 103px;
  margin-top: -20px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.content-second-main_texts {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  text-transform: uppercase;
}

.img-navigation_three {
  margin-left: 95px;
  margin-top: 20px;
}

.img-navigation_four {
  margin-left: 90px;
  margin-top: 20px;
}

.content-support_text {
  color: #484848;
  font-family: Arimo;
  margin-top: -20px;
  margin-left: 120px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.content-products_text {
  color: #484848;
  font-family: Arimo;
  font-size: 16px;
  margin-top: -20px;
  margin-left: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.img-navigation_five {
  margin-left: 80px;
  margin-top: 10px;
}

.content-users_text {
  color: #484848;
  font-family: Arimo;
  font-size: 16px;
  margin-top: -20px;
  margin-left: 125px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.img-navigation_six {
  margin-left: 90px;
  margin-top: 24px;
}

.background-footer-table_first {
  background-color: #ddd;
  width: 309px;
  height: 100px;
}

.footer-button {
  margin-left: 20px;
  width: 195px;
  height: 54px;
  border: none;
  margin-left: 57px;
  border-radius: 5px 5px 5px 5px;
  background: #404040;
}

.text-foter {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.background-footer-table_second {
  background-color: #fff;
  width: 309px;
  height: 100px;
}

.footer-button_first {
  background-color: #89c331;
  width: 195px;
  height: 54px;
  border: none;
  margin-left: 57px;
  border-radius: 5px 5px 5px 5px;
}

.text-buy {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.footer-button_second {
  background-color: #f04a56;
  width: 195px;
  height: 54px;
  border: none;
  margin-left: 57px;
  border-radius: 5px 5px 5px 5px;
}

.footer-button_three {
  background-color: #20807c;
  width: 195px;
  height: 54px;
  border: none;
  margin-left: 57px;
  border-radius: 5px 5px 5px 5px;
}
