* {
  font-family: Arimo;
}

.container-second_table {
  width: 1197px;
  height: 640px;
  border: 22px solid #3a4965;
}

.own-items {
  width: 201px;
  height: 660px;
}

hr {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

table {
  border-collapse: collapse;
}

/* tr {
  border: 1px solid grey;
} */

/* th {
  border: 1px solid grey;
} */

/* td {
  border: 1px solid grey;
} */

.background-head {
  background-color: #fafafa;
  width: 205px;
  height: 115px;
}

.second-background-head {
  background-color: #e3e3e3;
  width: 160px;
  height: 115px;
}

.line-head-table {
  border-bottom: 12px solid #3a4965;
}

.head-first-text {
  width: 134px;
  height: 28px;
  color: #484848;
  margin-left: 34px;
  margin-right: 33px;
  margin-top: 25px;
  text-align: center;
  font-family: Arimo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  text-transform: uppercase;
}

.head-second-text {
  color: #484848;
  margin-top: -22px;
  margin-left: 15px;
  margin-right: 11px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  text-transform: uppercase;
}

.image-second-background {
  margin-top: 26px;
}

.second-background-text {
  color: #484848;
  font-size: 20px;
  font-style: normal;
  margin-top: 2px;
  margin-left: 31px;
  margin-right: 31px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.three-background-head {
  background-color: #f2f2f2;
  width: 160px;
  height: 115px;
}

.image-three-background {
  margin-top: 27px;
}

.three-background-text {
  color: #484848;
  font-size: 20px;
  font-style: normal;
  margin-top: 2px;
  margin-left: 18px;
  margin-right: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

/* MAIN */

.background-main_content {
  background-color: #89c331;
  width: 198px;
  height: 164px;
}

.container-main-ftext {
  margin-left: 21px;
  margin-top: 22px;
  margin-right: 21px;
  width: 155px;
  height: 121px;
}

.background-main-ftext {
  color: #fff;
  align-items: center;
  font-size: 24px;
  z-index: 1;
  margin-left: 12px;
  margin-right: 18px;
  margin-top: -23px;
  width: 162px;
  height: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}

.background-main-price_first {
  color: #fff;
  text-align: center;
  z-index: 1;
  margin-top: -21px;
  margin-left: -115px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 77.778% */
  text-transform: uppercase;
}

.background-main-price_second {
  color: #fff;
  text-align: center;
  z-index: 2;
  margin-top: -70px;
  margin-left: -50px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 77.778% */
  text-transform: uppercase;
}

.background-main-month {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  margin-top: -35px;
  margin-left: 70px;
  font-weight: 700;
  line-height: 28px; /* 200% */
  text-transform: uppercase;
}

.button-main_content {
  background-color: #414141;
  margin-bottom: 22px;
  margin-left: 5px;
  width: 147px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 5px;
}

.button-main-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.background-second-main_content {
  background-color: #e3e3e3;
  width: 157px;
  height: 165px;
}

.container-seocnd-main_content {
  margin-top: -20px;
  margin-left: 40px;
  width: 81px;
  height: 36px;
}

.background-second-main-content_text {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

.background-three-main_content {
  background-color: #f2f2f2;
  width: 160px;
  height: 169px;
}

.container-three-main_content {
  margin-top: -20px;
  margin-left: 30px;
  width: 98px;
  height: 36px;
}

.background-three-main-content_text {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

/* TWO TABLE */
.background-red-main_content {
  background-color: #f04a56;
  width: 198px;
  height: 164px;
}

.background-dgreen-main_content {
  background-color: #20807c;
  width: 198px;
  height: 164px;
}
